CreateFramework.xcodeproj/project.xcworkspace/xcuserdata/thomsontang.xcuserdatad/UserInterfaceState.xcuserstate
CreateFramework.xcodeproj/xcuserdata/thomsontang.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
CreateFramework.xcodeproj/xcuserdata/thomsontang.xcuserdatad/xcschemes/CreateFramework.xcscheme
CreateFramework.xcodeproj/xcuserdata/thomsontang.xcuserdatad/xcschemes/xcschememanagement.plist
